doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="vieport" content="width=device-width, initial-scale=1.0")
        title MoGo - Creative Template
body
    header.main_header_block
        .container
            .logo_block_wrapper
                .logo_block
                    .logo_img_wrapper
                        a.link.logo_link(href="/")
                            img.logo_img(src="imgs/header/logo.svg")
            .main_menu_block_wrapper
                nav.main_menu_block
                    .menu_block
                        .menu_list_wrapper
                            ul.menu_list
                                li.menu_item
                                    a.link.menu_link(href="#") About
                                li.menu_item
                                    a.link.menu_link(href="#") Service
                                li.menu_item
                                    a.link.menu_link(href="#") Work
                                li.menu_item
                                    a.link.menu_link(href="#") Blog
                                li.menu_item
                                    a.link.menu_link(href="#") Contact
                    .user_icons_block_wrapper
                        .user_icons_block
                            .user_icons_list_wrapper
                                ul.user_icons_list
                                    li.user_icons_item
                                        a.link.user_icons_link(href="#")
                                            .user_icons_icon.icon_cart
                                    li.user_icons_item
                                        a.link.user_icons_link(href="#")
                                            .user_icons_icon.icon_search
        .slideshow_block
            .slideshow_img_wrapper
                img.slideshow_img(src="imgs/header/bg.png")
            .container
                .content_block
                    h1.content_head Welcome To MoGo
                    h2.content_subhead Creative Template
                    .divider
                    button.button Learn more
            .container
                nav.slideshow_nav_block
                    .slideshow_nav_list_wrapper
                        ul.slideshow_nav_list
                            li.slideshow_nav_item
                                .loader_block
                                    .loader_status
                                a.link.slideshow_nav_link(href="#")
                                    span.slideshow_nav_link.num_sm_mod 01
                                    |   Intro
                            li.slideshow_nav_item
                                .loader_block
                                    .loader_status
                                a.link.slideshow_nav_link(href="#")
                                    span.slideshow_nav_link.num_sm_mod 02
                                    |   Work
                            li.slideshow_nav_item
                                .loader_block
                                    .loader_status
                                a.link.slideshow_nav_link(href="#")
                                    span.slideshow_nav_link.num_sm_mod 03
                                    |   About
                            li.slideshow_nav_item
                                .loader_block
                                    .loader_status
                                a.link.slideshow_nav_link(href="#")
                                    span.slideshow_nav_link.num_sm_mod 04
                                    |   Contacts
    section.about_us_block
        .container
            .section_header_block
                h2.section_header_head Story About Us
                h3.section_header_subhead What We Do
                .divider.color_mod
                p.section_text.
                    Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Autem beatae debitis earum molest
                    ias nulla numquam provident quod sequi tempora
                    voluptatem. Cum dignissimos, dolorem exercitationem
                    facilis, in nobis, nulla placeat possimus quia quis
                    soluta suscipit veniam voluptates?
            .thumbnails_block_wrapper
                .thumbnails_block
                    .thumbnails_list_wrapper
                        ul.thumbnails_list
                            li.thumbnails_item
                                .thumbnail_block
                                    .thumbnail_img_wrapper
                                        img.thumbnail_img.size_sm_mod(src="imgs/about_us/1.png")
                                    .thumbnail_info.hidden_mod
                                        h3.thumbnail_head Super Team
                                        .thumbnail_icon.icon_team
                            li.thumbnails_item
                                .thumbnail_block
                                    .thumbnail_img_wrapper
                                        img.thumbnail_img.size_sm_mod(src="imgs/about_us/2.png")
                                    .thumbnail_info.hidden_mod
                                        h3.thumbnail_head Super Team
                                        .thumbnail_icon.icon_team
                            li.thumbnails_item
                                .thumbnail_block
                                    .thumbnail_img_wrapper
                                        img.thumbnail_img.size_sm_mod(src="imgs/about_us/3.png")
                                    .thumbnail_info.hidden_mod
                                        h3.thumbnail_head Super Team
                                        .thumbnail_icon.icon_team
    section.facts_block
        .container
            .facts_list_wrapper
                ul.facts_list
                    li.facts_item
                        .fact_block
                            .fact_text
                                span.fact_text.num_lg.mod 42
                                |   Web Design Projects
                    li.facts_item
                        .fact_block
                            .fact_text
                                span.fact_text.num_lg_mod 123
                                |   Happy Client
                    li.facts_item
                        .fact_block
                            .fact_text
                                span.fact_text.num_lg_mod 15
                                |   Awward Winner
                    li.facts_item
                        .fact_block
                            .fact_text
                                span.fact_text.num_lg_mod 99
                                |   Cup of Coffee
                    li.facts_item
                        .fact_block
                            .fact_text
                                span.fact_text.num_lg_mod 24
                                |   Members
    section.services_block
        .container
            .section_header_block
                h2.section_header_head Amazing Services
                h3.section_header_subhead We Work With
                .divider.color_mod
            .services_list_wrapper
                ul.services_list
                    li.services_item
                        .service_block
                            .service_icon.icon_clock
                            .service_info
                                h3.service_head Photography
                                p.service_descr Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, omnis veritatis.
                    li.services_item
                        .service_block
                            .service_icon.icon_graph
                            .service_info
                                h3.service_head Web Design
                                p.service_descr Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, omnis veritatis.
                    li.services_item
                        .service_block
                            .service_icon.icon_tv
                            .service_info
                                h3.service_head Creativity
                                p.service_descr Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, omnis veritatis.
                    li.services_item
                        .service_block
                            .service_icon.icon_book
                            .service_info
                                h3.service_head SEO
                                p.service_descr Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, omnis veritatis.
                    li.services_item
                        .service_block
                            .service_icon.icon_home
                            .service_info
                                h3.service_head CSS/HTML
                                p.service_descr Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, omnis veritatis.
                    li.services_item
                        .service_block
                            .service_icon.icon_frame
                            .service_info
                                h3.service_head Digital
                                p.service_descr Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, omnis veritatis.
    section.features_block
        .container
            .section_header_block
                h2.section_header_head Unique Design
                h3.section_header_subhead For All Devices
                .divider.color_mod
    section.service_details_block
        .container
            .section_header_block
                h2.section_header_head What We Do
                h3.section_header_subhead Service
                .divider.color_mod
                p.section_text.
                    Lorem ipsum dolor sit amet, consectetur
                     adipisicing elit. Autem beatae debitis earum molest
                     ias nulla numquam provident quod sequi tempora
                     voluptatem. Cum dignissimos, dolorem exercitationem
                     facilis, in nobis, nulla placeat possimus quia quis
                     soluta suscipit veniam voluptates?
            .accordion_block_wrapper
                .accordion_block
                    .accordion_img_wrapper
                        img.accordion_img(src="imgs/service2/1.png")
                    .accordion_list_wrapper
                        ul.accordion_list
                            li.accordion_item
                                .service_block
                                    .service_icon.icon_pic
                                    .service_info
                                        h3.service_head Photography
                                        p.service_descr.
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, omnis veritatis.
                                    .icon_arrow_up.accordion_control
                            li.accordion_item
                                .service_block
                                    .service_icon.icon_tuner
                                    .service_info
                                        h3.service_head Web Design
                                        p.service_descr Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, omnis veritatis.
                                    .icon_arrow_down.accordion_control
                            li.accordion_item
                                .service_block
                                    .service_icon.icon_target
                                    .service_info
                                        h3.service_head Creativity
                                        p.service_descr Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, omnis veritatis.
                                    .icon_arrow_down.accordion_control
    section.quote_block
        .container
            .slider_block
                .slider_list_wrapper
                    ul.slider_list
                        li.slider_item
                            .slide_block
                                .slide_img_wrapper
                                    img.slide_img(src="imgs/quote/1.svg")
                                p.slide_text.
                                    "Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Aperiam blanditiis esse illo necessitatibus perferendis
                                    quia quos similique voluptate? A ab ad autem beatae
                                    cupiditate dicta ducimus earum eligendi et expedita
                                    explicabo fugiat harum iste magnam maiores necessitatibus
                                    officia officiis perferendis quae quis recusandae rem
                                    rerum saepe, veniam veritatis voluptatibus voluptatum!"
                                .slide_author_wrapper
                                    .divider.color_mod
                                    p.slide_author Jon Doe
                        li.slider_item
                            .slide_block
                                .slide_img_wrapper
                                    img.slide_img(src="imgs/quote/1.svg")
                                p.quote_text.
                                    "Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                     Aperiam blanditiis esse illo necessitatibus perferendis
                                     quia quos similique voluptate? A ab ad autem beatae
                                     cupiditate dicta ducimus earum eligendi et expedita
                                     explicabo fugiat harum iste magnam maiores necessitatibus
                                     officia officiis perferendis quae quis recusandae rem
                                     rerum saepe, veniam veritatis voluptatibus voluptatum!"
                                .slide_author_wrapper
                                    .divider.color_mod
                                    p.slide_author Jon Doe
                        li.slider_item
                            .slide_block
                                .slide_img_wrapper
                                    img.slide_img(src="imgs/quote/1.svg")
                                p.slide_text.
                                    "Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                     Aperiam blanditiis esse illo necessitatibus perferendis
                                     quia quos similique voluptate? A ab ad autem beatae
                                     cupiditate dicta ducimus earum eligendi et expedita
                                     explicabo fugiat harum iste magnam maiores necessitatibus
                                     officia officiis perferendis quae quis recusandae rem
                                     rerum saepe, veniam veritatis voluptatibus voluptatum!"
                                .slide_author_wrapper
                                    .divider.color_mod
                                    p.slide_author Jon Doe
                .slider_controls
                    a.link.slider_link.icon_arrow_left(href="#")
                    a.link.slider_link.icon_arrow_right(href="#")
    section.team_block
        .container
            .section_header_block
                h2.section_header_head Meet Our Team
                h3.section_header_subhead Who We Are
                .divider.color_mod
                p.section_text.
                    Lorem ipsum dolor sit amet, consectetur
                     adipisicing elit. Autem beatae debitis earum molest
                     ias nulla numquam provident quod sequi tempora
                     voluptatem. Cum dignissimos, dolorem exercitationem
                     facilis, in nobis, nulla placeat possimus quia quis
                     soluta suscipit veniam voluptates?
            .thumbnails_block_wrapper
                .thumbnails_block
                    .thumbnails_list_wrapper
                        ul.thumbnails_list
                            li.thumbnails_item
                                .thumbnail_block
                                    .thumbnail_img_wrapper
                                        img.thumbnail_img.size_lg_mod(src="imgs/team/1.png")
                                    .social_block.hidden_mod
                                        .social_fb
                                        .social_tw
                                        .social_pin
                                        .social_in
                                .team_info
                                    h3.team_head Matthew Dix
                                    p.team_descr Graphic Designer
                            li.thumbnails_item
                                .thumbnail_block
                                    .thumbnail_img_wrapper
                                        img.thumbnail_img.size_lg_mod(src="imgs/team/1.png")
                                    .social_block.hidden_mod
                                        .social_fb
                                        .social_tw
                                        .social_pin
                                        .social_in
                                .team_info
                                    h3.team_head Christopher Campbell
                                    p.team_descr Branding/UX Design
                            li.thumbnails_item
                                .thumbnail_block
                                    .thumbnail_img_wrapper
                                        img.thumbnail_img.size_lg_mod(src="imgs/team/1.png")
                                    .social_block.hidden_mod
                                        .social_fb
                                        .social_tw
                                        .social_pin
                                        .social_in
                                .team_info
                                    h3.team_head Michael Fertig
                                    p.team_descr Developer
    section.logos_block
        .container
            .logos_list_wrapper
                ul.logos_list
                    li.logos_item
                        .logo_img_1
                    li.logos_item
                        .logo_img_2
                    li.logos_item
                        .logo_img_3
                    li.logos_item
                        .logo_img_4
                    li.logos_item
                        .logo_img_5
                    li.logos_item
                        .logo_img_6
    section.works_block
        .container
            .section_header_block
                h2.section_header_head Some Of Our Works
                h3.section_header_subhead What We Do
                .divider.color_mod
                p.section_text.
                    Lorem ipsum dolor sit amet, consectetur
                     adipisicing elit. Autem beatae debitis earum molest
                     ias nulla numquam provident quod sequi tempora
                     voluptatem. Cum dignissimos, dolorem exercitationem
                     facilis, in nobis, nulla placeat possimus quia quis
                     soluta suscipit veniam voluptates?
            .works_list_wrapper
                ul.works_list
                    li.works_item
                        .works_img_wrapper
                            img.works_img(src="imgs/works/1.png")
                    li.works_item
                        .works_img_wrapper
                            img.works_img(src="imgs/works/2.png")
                    li.works_item
                        .works_img_wrapper
                            img.works_img(src="imgs/works/3.png")
                    li.works_item
                        .works_img_wrapper
                            img.works_img(src="imgs/works/4.png")
                    li.works_item
                        .works_img_wrapper
                            img.works_img(src="imgs/works/5.png")
                    li.works_item
                        .works_img_wrapper
                            img.works_img(src="imgs/works/6.png")
                    li.works_item
                        .works_img_wrapper
                            img.works_img(src="imgs/works/7.png")
    section.testimonials_block
        .container
            .slider_block
                .slider_list_wrapper
                    ul.slider_list
                        li.slider_item
                            .slide_block
                                .slide_img_wrapper
                                    img.slide_img(src="imgs/quote/1.png")
                                p.slide_text.
                                    "Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Aperiam blanditiis esse illo necessitatibus perferendis
                                    quia quos similique voluptate? A ab ad autem beatae
                                    cupiditate dicta ducimus earum eligendi et expedita
                                    explicabo fugiat harum iste magnam maiores necessitatibus
                                    officia officiis perferendis quae quis recusandae rem
                                    rerum saepe, veniam veritatis voluptatibus voluptatum!"
                                .slide_author_wrapper
                                    .divider.color_mod
                                    p.slide_author Joshua Earl
                        li.slider_item
                            .slide_block
                                .slide_img_wrapper
                                    img.slide_img(src="imgs/quote/1.png")
                                p.quote_text.
                                    "Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                     Aperiam blanditiis esse illo necessitatibus perferendis
                                     quia quos similique voluptate? A ab ad autem beatae
                                     cupiditate dicta ducimus earum eligendi et expedita
                                     explicabo fugiat harum iste magnam maiores necessitatibus
                                     officia officiis perferendis quae quis recusandae rem
                                     rerum saepe, veniam veritatis voluptatibus voluptatum!"
                                .slide_author_wrapper
                                    .divider.color_mod
                                    p.slide_author Joshua Earl
                        li.slider_item
                            .slide_block
                                .slide_img_wrapper
                                    img.slide_img(src="imgs/quote/1.png")
                                p.slide_text.
                                    "Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                     Aperiam blanditiis esse illo necessitatibus perferendis
                                     quia quos similique voluptate? A ab ad autem beatae
                                     cupiditate dicta ducimus earum eligendi et expedita
                                     explicabo fugiat harum iste magnam maiores necessitatibus
                                     officia officiis perferendis quae quis recusandae rem
                                     rerum saepe, veniam veritatis voluptatibus voluptatum!"
                                .slide_author_wrapper
                                    .divider.color_mod
                                    p.slide_author Joshua Earl
                .slider_controls
                    a.link.slider_link.icon_arrow_left
                    a.link.slider_link.icon_arrow_right
    section.clients_block
        .section_header_block
            h2.section_header_head What People Say
            h3.section_header_subhead Happy Clients
            .divider.color_mod
        .clients_list_wrapper
            ul.clients_list
                li.clients_item
                    .client_block
                        .client_img_wrapper
                            img.client_img(src="imgs/clients/1.png")
                        h3.client_name Matthew Dix
                        p.client_descr Graphic Designer
                        .divider.color_mod
                        p.client_text.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Accusamus atque autem debitis dolore esse eveniet
                            libero magnam, modi natus nostrum qui recusandae.
                li.clients_item
                    .client_block
                        .client_img_wrapper
                            img.client_img(src="imgs/clients/2.png")
                        h3.client_name Nick Karvounis
                        p.client_descr Graphic Designer
                        .divider.color_mod
                        p.client_text.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Accusamus atque autem debitis dolore esse eveniet
                            libero magnam, modi natus nostrum qui recusandae.
                li.clients_item
                    .client_block
                        .client_img_wrapper
                            img.client_img(src="imgs/clients/3.png")
                        h3.client_name Jaeklynn Castillo
                        p.client_descr Graphic Designer
                        .divider.color_mod
                        p.client_text.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Accusamus atque autem debitis dolore esse eveniet
                            libero magnam, modi natus nostrum qui recusandae.
                li.clients_item
                    .client_block
                        .client_img_wrapper
                            img.client_img(src="imgs/clients/4.png")
                        h3.client_name Mike Petrucci
                        p.client_descr Graphic Design
                        .divider.color_mod
                        p.client_text.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Accusamus atque autem debitis dolore esse eveniet
                            libero magnam, modi natus nostrum qui recusandae.
    section.blog_block
        .container
            .section_header_block
                h2.section_header_head Latest Blog
                h3.section_header_subhead Our Stories
                .divider.color_mod
            .blog_list_wrapper
                ul.blog_list
                    li.blog_item
                        .article_block
                            .article_img_wrapper
                                img.article_img(src="imgs/blog/1.png")
                            .article_date
                                span.article_date.num_md_mod 15
                                |   Jan
                            a.link.article_link(href="#")
                                h3.article_title Lorem ipsum dolor sit amet
                                p.article_text.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing
                                    Adipisci assumenda exercitationem perspiciatis quasi
                                    sapiente vero?
                            .article_stats
                                .stats_block
                                    .stats_views
                                        .stats_icon.icon_eye
                                        .stats_text 542
                                    .stats_comments
                                        .stats_icon.icon_dialog
                                        .stats_text 17
                    li.blog_item
                        .article_block
                            .article_img_wrapper
                                img.article_img(src="imgs/blog/2.png")
                            .article_date
                                span.article_date.num_md_mod 14
                                |   Jan
                            a.link.article_link(href="#")
                                h3.article_title Lorem ipsum dolor sit amet
                                p.article_text.
                                     Lorem ipsum dolor sit amet, consectetur adipisicing
                                     Adipisci assumenda exercitationem perspiciatis quasi
                                     sapiente vero?
                            .article_stats
                                .stats_block
                                    .stats_views
                                        .stats_icon.icon_eye
                                        .stats_text 992
                                    .stats_comments
                                        .stats_icon.icon_dialog
                                        .stats_text 42
                    li.blog_item
                        .article_block
                            .article_img_wrapper
                                img.article_img(src="imgs/blog/3.png")
                            .article_date
                                span.article_date.num_md_mod 12
                                |   Jan
                            a.link.article_link(href="#")
                                h3.article_title Lorem ipsum dolor sit amet
                                p.article_text.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing
                                     Adipisci assumenda exercitationem perspiciatis quasi
                                     sapiente vero?
                            .article_stats
                                .stats_block
                                    .stats_views
                                        .stats_icon.icon_eye
                                        .stats_text 1660
                                    .stats_comments
                                        .stats_icon.icon_dialog
                                        .stats_text 98
    section.map_block
        .container
            .map_icon
            h2.map_head Open Map
            .divider.color_mod
    footer.main_footer_block
        .container
            .header_block_wrapper
                header.header_block
                    .logo_block_wrapper
                        .logo_block
                            .logo_img_wrapper
                                a.link.logo_link(href="/")
                                    img.main_footer_logo(src="imgs/footer/logo.svg")
                    p.main_footer_text.
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                    .followers_block_wrapper
                        p.followers_block
                            span.followers_block.text_bold_mod 15K
                            |   followers
            .social_block_wrapper
                section.social_block
                    p.social_text Follow Us:
                    .social_icons_list_wrapper
                        ul.social_icons_list
                            li.social_icons_item
                                .icon_fb
                            li.social_icons_item
                                .icon_tw
                            li.social_icons_item
                                .icon_in
                            li.social_icons_item
                                .icon_pin
                            li.social_icon_item
                                .icon_gp
                            li.social_icon_item
                                 .icon_yt
                            li.social_icons_item
                                .icon_db
                            li.social_icons_item
                                .icon_tb
                .subscribe_form_wrapper
                    form.subscribe_form_block(action="#" method="post")
                        input.subscribe_email(type="text" name="email" id="email" placeholder="Your Email...")
                        input.button.subscribe_btn(type="submit" value="Subscribe")
            .blogs_wrapper
                section.blogs_block
                    h2.blogs_head Blogs
                    .blogs_list_wrapper
                        ul.blogs_list
                            li.blogs_item
                                .blog_block
                                    a.link.blog_link(href="#")
                                        .blog_img_wrapper
                                            img.blog_img(src="imgs/footer/blog/1.png")
                                        .blog_date
                                            |Jan 9, 2016
                                        h3.blog_title Lorem ipsum dolor sit amet, consectetur adipisicing
                            li.blogs_item
                                .blog_block
                                    a.link.blog_link(href="#")
                                        .blog_img_wrapper
                                            img.blog_img(src="imgs/footer/blog/2.png")
                                        .blog_date
                                            |Jan 9, 2016
                                        h3.blog_title Lorem ipsum dolor sit amet, consectetur adipisicing
                            li.blogs_item
                                .blog_block
                                    a.link.blog_link(href="#")
                                        .blog_img_wrapper
                                            img.blog_img(src="imgs/footer/blog/3.png")
                                        .blog_date
                                            |Jan 9, 2016
                                        h3.blog_title Lorem ipsum dolor sit amet, consectetur adipisicing
            .instagram_wrapper
                section.instagram_block
                    h2.instagram_head Instagram
                    .instagram_list_wrapper
                        ul.instagram_list
                            li.instagram_item
                                .instagram_img_wrapper
                                    a.link.instagram_link(href="#")
                                        img.instagram_img(src="imgs/footer/instagram/1.png")
                            li.instagram_item
                                .instagram_img_wrapper
                                    a.link.instagram_link(href="#")
                                        img.instagram_img(src="imgs/footer/instagram/2.png")
                            li.instagram_item
                                .instagram_img_wrapper
                                    a.link.instagram_link(href="#")
                                        img.instagram_img(src="imgs/footer/instagram/3.png")
                            li.instagram_item
                                .instagram_img_wrapper(href="#")
                                    a.link.instagram_link(href="#")
                                        img.instagram_img(src="imgs/footer/instagram/4.png")
                            li.instagram_item
                                .instagram_img_wrapper
                                    a.link.instagram_link(href="#")
                                        img.instagram_img(src="imgs/footer/instagram/5.png")
                            li.instagram_item
                                .instagram_img_wrapper
                                    a.link.instagram_link(href="#")
                                        img.instagram_img(src="imgs/footer/instagram/6.png")
                            li.instagram_item
                                .instagram_img_wrapper
                                    a.link.instagram_link(href="#")
                                        img.instagram_img(src="imgs/footer/instagram/7.png")
                            li.instagram_item
                                .instagram_img_wrapper
                                    a.link.instagram_link(href="#")
                                        img.instagram_img(src="imgs/footer/instagram/8.png")
                            li.instagram_item
                                .instagram_img_wrapper
                                    a.link.instagram_link(href="#")
                                        img.instagram_img(src="imgs/footer/instagram/9.png")
                    a.link.instagram_redirect(href="#") View more photos
            footer.footer_block
                p.footer_copyright &copy; MoGo free PSD template by
                    a.link.footer_link(href="#") Laaqiq